#questions-creation {
    padding-bottom: 468px;
}

#questions-creation h3 {
    margin-top: 63px;
    margin-bottom: 36px;
}

.question {
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding-bottom: 10px;
}

.incorrect-group-input-margin {
    margin-bottom: 32px;
}

#questions-creation button {
    width: 354px;
    height: 54px;
    margin-top: 81px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}