.questions-creation h3 {
    margin-top: 63px;
    margin-bottom: 36px;
}

.question {
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.incorrect-group-input-margin {
    margin-bottom: 32px;
}